<div class="container">

    <div class="ownContainer">
    <h4 class="text-center">Get weather from {{fc.providerName}}</h4>
    <input type="text" ng-model="id" placeholder="Search" uib-typeahead="city.description for city in fc.getCities($viewValue)" typeahead-loading="loadingLocations" typeahead-on-select="fc.citySelected($item, $model, $label, $event)" class="form-control">
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
    <div ng-show="noResults">
       <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>
    </div>
</div>

<div class="loader" ng-show="fc.loading"></div>

<div class="row" ng-show="fc.loaded">
     <div ng-repeat="item in fc.forecasts" class="col-sm-1">
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="text-center panel-heading"> {{item.date}}</div>
                <div class=" text-center panel-body">
                    <img ng-src="/images/weezle_sun.png" alt="" width="100%">
                    <p>{{item.temperature}} &#8457;</p>
                    <h6>{{item.temperatureMin}}&#8457;</h6>
                </div>
                    <div class=" text-center panel-body">
                        <p style="float: left; font-weight: bold; width: 70%">Apparent</p>
                        <img src="/images/temperature.png" alt=""  style="float: right;" width="30%">
                    </div><!-- body -->
                    <div class="text-center">
                    <p>{{item.apparentTemperature}}&#8457;</p>
                    <p>{{item.apparentTemperatureMin}}&#8457;</p>
                    </div>
                <div class=" text-center panel-body panel-body-color1">
                    <div>
                        <p style="float: right; width : 70% ">{{item.humidity}}</p>
                        <img src="/images/humidity.png" alt=""  style="float: left;" width="30%">
                    </div>
                    <hr>
                    <div>
                       <p style="float: right; width : 70% ">{{item.pressure}}</p>
                       <img src="/images/pressure.png" alt=""  style="float: left;" width="30%">
                    </div>
                    <hr>
                    <div >
                       <p style="float: right; width : 70% ";>{{item.cloudCover}}</p>
                       <img src="/images/cover_cloud.png" alt=""  style="float: left;" width="30%">
                    </div>
                </div>
            </div><!-- panel -->
        </div><!-- /row -->
    </div>
</div>
